body{
    background-color: #353535 !important;
}
.entriesSection{
    background-color: #284B63;
    width: 90% !important;
    margin: 0 5% !important;
    margin-top: 50px !important;
    border-radius: 20px 20px 0 0;
    color: #D9D9D9;
}
.previousEntriesSection{
    background-color: #3C6E71;
    width: 90% !important;
    margin: 0 5% !important;
    margin-bottom: 50px !important;
    border-radius: 0 0 20px 20px;
    color: #D9D9D9;
}
.entryFields{
    margin-top: 20px;
    font-family: fantasy;
    font-weight: 800;
    font-size: 25px;
    
}
.randomEntryButton{
    margin-bottom: 15px;
    background-color: #3C6E71;
    color: white;
    box-shadow: 0 0 5px white;
}
.header{
    font-family:'Courier New', Courier, monospace;
    margin-top: 20px;
    color: white;
}
.entriesHeader{
    background-color: #3C6E71;
    border-radius: 10px;
}
.previousEntriesHeader{
    background-color: #284B63 !important;
    border-radius: 10px;
}
li{
    margin-top: 10px;
    font-family: fantasy;
    font-weight: 800;
    font-size: 20px;
    border-bottom: 3px dashed black;
}
.randomEntryButton:hover{
    background-color: #E9EDC9;
    cursor: default;
    color: black;
}
@media(max-width:768px){
    .randomEntryButton{
        margin-left: 225px;
    }
    .randomEntryButton:hover{
        background-color: #E9EDC9;
    }
}
@media(max-width:425px){
    .randomEntryButton{
        margin-left: 90px;
    }
    .randomEntryButton:hover{
        background-color: #E9EDC9;
    }
    .entryFields{
        font-size: 20px;
    }
    li{
        font-size: 20px;
    }
    .entriesSection{
        margin-top: 20px !important;
    }
    .previousEntriesSection{
        margin-bottom: 20px !important;
    }
}
@media(max-width:375px){
    .randomEntryButton{
        margin-left: 80px;
    }
    .randomEntryButton:hover{
        background-color: #E9EDC9;
    }
    .entryFields{
        font-size: 15px;
    }
    .header{
        font-size: 20px;
    }
    li{
        font-size: 15px;
    }
    .entriesSection{
        margin-top: 20px !important;
    }
    .previousEntriesSection{
        margin-bottom: 20px !important;
    }
}
@media(max-width:320px){
    .randomEntryButton{
        margin-left: 60px;
    }
    .randomEntryButton:hover{
        background-color: #E9EDC9;
    }
    .entryFields{
        font-size: 15px;
    }
    .entriesSection{
        margin-top: 20px !important;
    }
    .previousEntriesSection{
        margin-bottom: 20px !important;
    }
    li{
        font-size: 15px;
    }
}